<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/base.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/index.css">
    <title>网易云音乐</title>
</head>
<body>
    <div id="app">
        <template>
            <section class="top-bar">
                <svg class="icon icon-logo" aria-hidden="true">
                    <use xlink:href="#icon-CN_NetEasemusic"></use>
                </svg>
                <h1>网易云音乐</h1>
                <a href="">下载</a>
            </section>

            <!-- <nav>
                <ul v-for="item in navItems" :key="item.id">
                    <li>{{item.value}}</li>
                </ul>
            </nav> -->

            <template>
                <el-tabs v-model="activeName" @tab-click="handleClick">
                  <el-tab-pane label="推荐音乐" name="first">
                        <h3 class="recommend-title">推荐歌单</h3>
                        <section class="recommend-list">
                                <ul v-for='item in recommendLists' :key="item.id">
                                    <li>
                                        <img :src="item.imgSrc" alt="">
                                        <p>{{item.value}}</p>
                                    </li>
                                </ul>
                            </section>

                            <h3 class="latest-music-recommend-title">最新音乐</h3>
                            <section class="latest-music">
                                <ul v-for='item in results' :key="item.id">
                                    <li>
                                        <h3>
                                            {{item.song.name}}
                                            <p>{{item.song.alias[0]}}</p>
                                        </h3>
                                        <h5 style="color:#ddd">歌手:{{item.song.artists[0].name}} 专辑：{{item.song.album.name}}</h5>
                                    </li>
                                </ul>
                            </section>
                  </el-tab-pane>

                  <el-tab-pane label="热歌榜" name="second">配置管理</el-tab-pane>
                  <el-tab-pane label="搜索" name="third">角色管理</el-tab-pane>
                </el-tabs>
              </template>
        </template>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
<script src='//at.alicdn.com/t/font_865924_zcxj87bf3ei.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.0/index.js"></script>
<script src="./js/index.js"></script>

</html>